name: CI

on:
  push:
    paths:
      - '*.swift'
      - 'Makefile'
      - '.github/workflows/*'
  pull_request:
    paths:
      - '*.swift'
      - 'Makefile'
      - '.github/workflows/*'
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os: [macos-26, ubuntu-24.04]
    name: Test
    runs-on: ${{ matrix.os }}
    environment: ci
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: System Info
        run: uname -a

      - name: Install Swift
        if: ${{ !startsWith( matrix.os, 'macos' ) }}
        run: eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)" && brew install swift

      - name: Install dependencies
        if: ${{ !startsWith( matrix.os, 'macos' ) }}
        run: sudo apt install liblzma-dev zlib1g-dev

      - name: Build unxip
        run: swift build --configuration release

      - name: Download Xcode
        run: |
          wget --progress=dot:giga https://github.com/saagarjha/unxip/releases/download/_xcode/Xcode_26_beta_5_Apple_silicon.xip.encrypted.1
          wget --progress=dot:giga https://github.com/saagarjha/unxip/releases/download/_xcode/Xcode_26_beta_5_Apple_silicon.xip.encrypted.2
          cat Xcode_26_beta_5_Apple_silicon.xip.encrypted.1 Xcode_26_beta_5_Apple_silicon.xip.encrypted.2 > Xcode_26_beta_5_Apple_silicon.xip.encrypted
          rm Xcode_26_beta_5_Apple_silicon.xip.encrypted.*

        # I don't hate you, I just don't want to get sued
      - name: Decrypt Xcode
        env:
          ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
        run: |
          openssl enc -aes-256-cbc -d -pass 'env:ENCRYPTION_KEY' -in Xcode_26_beta_5_Apple_silicon.xip.encrypted > Xcode_26_beta_5_Apple_silicon.xip
          # Linux runners don't have enough space to keep this around.
          rm Xcode_26_beta_5_Apple_silicon.xip.encrypted

      - name: Run unxip
        run: .build/release/unxip -s Xcode_26_beta_5_Apple_silicon.xip /tmp | grep -q 'Created 97302 files, 26175 directories, 9665 symlinks, and 25560 hardlinks'

      - name: Run xip
        if: ${{ startsWith( matrix.os, 'macos' ) }}
        run: xip --expand Xcode_26_beta_5_Apple_silicon.xip

        # Xcode 26 has a hardlink to a parent directory, which trips up diff -r.
        # --no-dereference, despite not being documented, is available and can
        # avoid getting stuck in an infinite loop in this case.
      - name: Validate Xcode
        if: ${{ startsWith( matrix.os, 'macos' ) }}
        run: diff -r --no-dereference /tmp/Xcode-beta.app Xcode-beta.app
